* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: white;
  position: relative;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden !important;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
a,
button {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: none;
}
.section {
  position: relative;
}

.containt0 {
  position: absolute;
  bottom: 10%;
  right: 20%;
  z-index: 2;
  width: 300px;
backdrop-filter: blur(2px);
  padding: 20px ;
  border-radius: 10px;
}
.containt0 .sup-text {
  font-size: 14px;
  color: #c80036;
  font-weight: bolder;
}
.containt0 .main-text {
  font-size: 50px;
  font-weight: 700;
  color: #1f2022;
  line-height: 50px;
  margin-top: 4px;
}
.text-3 {
  margin-top: 0px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 100%;
}
.containt0 .btn {
  margin-top: 20px;
  background: #c80036;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  padding-left: 12px;
  text-transform: uppercase;
  gap: 10px;
  transition: 0.2s;
}
.containt0 .btn:hover {
  background: rgb(145, 20, 20);
}
.swiper-slide {
  width: 100vh;
  max-height: 100vh;
}
.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px !important;
  height: 35px !important;
  border-radius: 100%;
  background-color: #1f2022;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #c80036;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px !important;
  color: white;
  font-weight: 500;
}
.main-wrap {
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 100%;
  /* background: rgba(8, 8, 8, 0.014);
  backdrop-filter: blur(10px); */
}
.wrapper {
  padding: 8px;
  max-width: 1240px;
  margin: 0 auto;
  
}
.slider-section{
  height: 100vh;
}
.message {
  font-size: 14px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
  padding: 5px 10px;
}
.right-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contact {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: small;
}
.contact:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background-color: #101010; */
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-item {
  text-decoration: none;
  position: relative;

  transition: 0.1s;
}
.nav-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.nav-item::after {
  content: "";
  top: 100%;
  border-bottom: 2px solid #c80036;
  transition: all 0.35s;
  position: absolute;
}

.nav-item :hover::after {
  transition: all 0.35s;
}

.nav-item::after {
  right: 50%;
  left: 50%;
}

.nav-item:hover::after {
  right: 0;
  left: 0;
}
ul .hamburger{
  display: none;
}
.altlogo{
  display: none;
}
.extr{
  display: none;
}
@media only screen and (max-width: 768px) {
  .extr{
    display: block;
    width: 100%;
  }
  .hamburger2{
    position: absolute;
    top: 20px;
    right: 30px;
  }
  .nav-menu {
    position: fixed;
    padding: 70px 0px;
    left: -120%;
    height: 100vh;
    overflow-x: hidden !important;
    top: 0;
    flex-direction: column;
    background-color: #222222;
    justify-content: flex-start;
    align-items: flex-start;
    width:100dvw !important;
    transition: 0.3s;
    z-index: 10 !important;
  }
ul .contt{
   padding: 0px 10px;
  flex-direction:column;
  align-items: start !important;
  gap: 20px !important; 
  font-size: 20px !important;
  width: 100%;
}
.altlogo{
  display: block;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
ul .social0{
  margin-top: 50px;
  gap: 30px;
  justify-content: center !important;
  margin-left: 0;
    width: 100%;
}
ul .contt a{
  font-size: 16px;
}
  .nav-link {
    color: #fff;
    font-size: 22px;
      padding: 0px 10px;
  }

  .nav-menu.active {
    left: 0;
  }
  .hamburger,.hamburger2 {
    display: block;
    cursor: pointer;
    transition: 0.5s;
  }

  .hamburger.active .bar:nth-child(2),.hamburger2.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1),.hamburger2.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3), .hamburger2.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .containt0{
    z-index: 1 !important;
  }
}

/* add styles on elements */
.container1 {
  max-width: 1024px;
  padding-top: 30px;
  padding-bottom: 20px;
  justify-content: space-between;
  gap: 20px;
  margin: 0px auto;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  flex-wrap: wrap;
}
.container1 button {
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.2s;
  background: #c80036;
  font-weight: 500;
  flex-wrap: wrap;
}
.container1 button:hover {
  background: rgb(145, 20, 20);
}

/* ---------who ----------------- */
.container2,
.values {
  max-width: 1240px;
  margin: 0px auto;
  padding: 20px  8px;
  padding-top: 0px;
}
.container2> img {
  max-width: 250px;
  object-fit: cover;
  height: auto;
  margin: 0px auto;
  display: block;
}
.container22{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.container22 .text22{
  max-width: 50%;
}
.ima{
  width: 50%;
  flex: 1;
}
.container22 img{
width: 100%;
  height: auto;
  object-fit: cover;
}
.container2 h3 {
  color: #c80036;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

.container2 p {
  margin-top: 50px;
  line-height: 28px;
  font-weight: 500;
  color: #222;
  text-transform: capitalize;
  margin-top: 0px;
}

/* -----------------mission----------------- */
.container3 {
  max-width: 1240px;
  padding:0px 8px;
  padding-top: 50px;
  padding-bottom: 100px;
  margin:0px auto ;
   display: flex;
   align-items:center;
   justify-content: center;
}
.mission {
  max-width: 500px;
  position: relative;
}
.container33{
  width: 50%;
}
.loca{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%,-50%);
  z-index: 3;
}
.cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cont h3 {
  color: #c80036;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.mission p {
  line-height: 30px;
  font-weight: 500;
  color: #222;
  text-transform: capitalize;
}

/* -----------------valus----------------- */
.value > p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  max-width: 400px;
  margin: 0px auto;
  margin-top: 50px;
  line-height: 30px;
}
.valueimg{
  width: 100% !important;
}
/* --------------------------------------------standerds-------------------------------- */
.container6 {
  max-width: 1240px;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 80px;
  padding-left: 8px;
  padding-right: 8px;
}
.container6 > img {
  width: 200px;
  height: auto;
  margin: 0px auto;
  display: block;
}
.container6 h3 {
  color: #151529;
  font-weight: 700;
  margin: 0px auto;
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  width: fit-content;
}
.container6 h3::after {
  content: "";
  width: 2px;
  height: 20px;
  background: #c80036;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}
.stand {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
  justify-content: space-between;
  margin-top: 80px;
}
.stand1 {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: end;
  margin-bottom: 12px;
}
.stand p {
  font-size: 14px;
  line-height: 20px;
}
.stand-container1 {
  max-width: 300px;
  text-align: right;
}
.stand1Image {
  min-width: 50px;
  height: 50px;
  background: #151529;
  border-radius: 100%;
}
.stand h4 {
  font-size: 24px;
  font-weight: 600;
  color: #151529;
  text-transform: capitalize;
}
.stand-container2 {
  max-width: 300px;
}
.stand2 {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: start;
  margin-bottom: 12px;
}
.stand-container3 {
  max-width: 300px;
  text-align: center;
}
.stand3 {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 12px;
}
.stimg{
  max-width: 600px;
  width: 100%;

}
.stimg img{
width: 100%;
max-width: 700px;
}
/* ------------------------------------------license-------------------------------- */
.container5 {
  max-width: 1240px;
  margin: 0px auto;
  padding: 80px 0px;
}
.container5 > img {
  margin: 0px auto;
  display: block;
}

.lic {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.lic > img {
  margin-top: -20px;
}
.lic h3 {
  color: #151529;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
  position: relative;
}
/* .lic h3::after {
    content: "";
    position: absolute;
    top: 88%;
    background: #c80036;
    height: 3px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  } */
.lic2 {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
/* ----------------------------------------footer-------------------------------- */
.footer-container {
  max-width: 1240px;
  margin: 0px auto;
  padding-top: 80px;
  display: flex;
  align-items: start;
  flex-wrap: wrap !important;
  gap: 50px;
  padding-bottom: 30px;
  padding-left: 8px;
  padding-right: 8px;
}
.footer-container>img{
  width: 40%;
  min-width: 400px;
}
.image2{
  position: absolute; left: 25%; top: 10%;
}
.footer1 h3,
.footer2 h3 {
  color: white;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  width: fit-content;
  margin-bottom: 24px;
}
.footer1 h3::after,
.footer2 h3::after {
  content: "";
  position: absolute;
  top: 101%;
  background: #c80036;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
}
.footer1 a {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  padding-left: 20px;
  position: relative;
  transition: 0.2s;
  width: fit-content;
}
.footer1 a::after {
  content: ">";
  font-family: monospace;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  font-size: 20px;
}
.footer1 a:hover {
  color: #c80036;
  transform: translateX(10px);
}
.footer1 a:hover::after {
  color: #c80036;
}
.container4 {
  flex: 1;
  display: flex;
  align-items: start;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  gap: 30px;
}
.footer2 a {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  position: relative;
  transition: 0.2s;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer2 a:hover {
  color: #c80036;
}
.down {
  margin-top: 30px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 20px;
  transition: 0.2s;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
}
.social0{display: flex; align-items: center; gap: 5px; margin-top: 10px;}


@media (max-width: 1115px) {
  .container22{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
   
  }
  .container22 .text22{
  width: 100% !important;
    max-width: 750px !important;

}
.ima{
  width: 100% !important;
  max-width: 700px !important;
}

.container3{
  flex-direction:column-reverse;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container33{
  width: 100% !important;
}
.container33 .immm{
width: 100%;
}
.mission {
  width: 100% !important;
}
  .stand-container2{
    margin: 0px auto;
  }
  .container6{
  padding-left: 8px;
  padding-right: 8px;
}
}
@media (max-width: 950px) {
  .footer-container{
    flex-direction: column;
    align-items: center;
  }
  .image2{
 left: 50%; top: 8%;
}
}
@media (max-width:700px) {
  .container2>img{
    max-width: 180px;
  }
  .container2 h3{
    font-size: 25px;
    /* line-height: 20px; */
  }
  .message{
    display: none;
  }
  .container1{
    justify-content: center;
    text-align: center;
  }
  .container22 p{
    font-size: 14px;
    line-height: 24px;
      text-align: justify;
  }
  .value>img{
      width: 150px !important;
  }
  .stand{

  justify-content: center;
}
.lic2 img{
width: 180px;
}
}
@media (max-width:450px) {
  .top-header{
    display: none;
  }
  .social0{
    width: 100%;
    justify-content:center !important;
    margin-top: 5px;
    margin-left: 80px;
  }
  .nav-logo img{
    width: 170px !important;
  }
  .navbar {
  padding-top: 0px;
}
 .container22 p{
    font-size: 12px;
    line-height: 20px;
  
  }
  .stand-container2,.stand-container1,.stand-container3{
    max-width: 100% !important;
  }
  .image2{
top: 1%;
left: 50%;
transform: translateX(-50%);
padding-bottom: 30px;
}
}
@media (max-width:600px) {
.swiper-button-prev,.swiper-button-next{
  display: none !important;
}
.containt0{
right: 0px;
bottom: 50%;
transform: translateY(50%);
text-align: center;
width: 89% ;
}
.containt0 .btn{
margin:20px auto;
}
.cont > img{
  width: 80px !important;
  height: auto;
}
.cont h3{
  font-size: 20px;
  line-height: 24px;
}
.mission p{
  font-size: 14px !important;
  line-height: 25px;
  text-align: justify;
}
.container4{
  flex-direction: column;
}
  .footer-container{
    flex-direction: column;
    align-items: start;
  }
.footer-container>img{
  min-width: 100%;
}

}
/* -----------------------------------------------------terms------------------------------------------ */
.terms{
  padding: 20px 8px;
    background-color: white;
  position: relative;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden !important;
}
.terms .img1{
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.img1 img{
  max-width: 250px;
}

.terms h1{
  font-size: 30px;
  text-transform: capitalize;
  color: #c80036;
  margin-bottom: 20px;
  text-align: center;
}

.flexj{
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 10px;
  line-height: 30px;
}
.mains{
  border-left: 1px solid #c80036;
  max-width: 1000px;
  margin: 50px auto;
}
.polit{
  margin-top: 6px;
  margin-left: -6px;
  border: 1px solid #c80036;
  background-color: white;
  font-weight: 500;
  font-size: 0px;
  border-radius: 100%;
  min-width: 10px;
  height: 10px;

}